.button {
    border-radius: 5px;

    background-color: #02203b;
    color: #ffffff;
    transition: ease-in 0.3s;
}

.icon-button {
    cursor: pointer;
}

.button:hover,
.icon-button {
    background-color: #074f93;
}
