.page {
    width: 100vw;
    height: 100vh;
    min-width: fit-content;
    min-height: fit-content;
    max-width: 100vw;
    max-height: 100vh;

    margin: 0;
    padding: 20px;
    justify-content: center;
}

.background {
    width: 100%;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;
    z-index: -10;

    background: linear-gradient(45deg, #dcc2fe, #5fadfb, #615efa);
}

.container {
    max-width: 100vw;
    padding: 10px 20px;
    box-sizing: border-box;

    display: flex;
    gap: 10px;
}

.content-container {
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #ffffff;
}

.container-row {
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
}

.container-col {
    flex-direction: column;
    align-items: stretch;
}

.container-centered {
    align-items: center;
    justify-content: center;
}

.left {
    overflow: hidden;
    min-width: 450px;
    flex: 7;
}

.right {
    overflow: hidden;
    min-width: 450px;
    flex: 3;
}

.switch-container {
    justify-content: space-between !important;
    align-items: center;
}